<div class="darkmode-site position-fixed bottom-0 end-0 mb-3 me-3">
    <button type="button" id="theme-toggle" class="btn btn-primary">
        <span class="light-mode-toggle">
            {{ svg_icon('light_mode') }}
        </span>
        <span class="dark-mode-toggle">
            {{ svg_icon('dark_mode') }}
        </span>
    </button>
</div>