.btn {
    --bs-btn-color: var(--site-color-text);
    --bs-btn-hover-color: var(--site-color-text);
    --bs-btn-active-color: var(--site-color-text);
    --bs-btn-disabled-color: var(--site-color-text);
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-border-width: 0;
    --bs-btn-border-radius: 0;
    --bs-btn-font-family: "Atkinson Hyperlegible Next", sans-serif;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1rem;

    height: 2rem;
    text-align: center;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.btn-primary {
        --bs-btn-bg: var(--site-color-primary);
        --bs-btn-border-color: var(--site-color-primary);
        --bs-btn-hover-bg: var(--site-color-primary);
        --bs-btn-hover-border-color: var(--site-color-primary);
        --bs-btn-active-bg: var(--site-color-primary);
        --bs-btn-active-border-color: var(--site-color-primary);
        --bs-btn-disabled-bg: var(--site-color-primary);
        --bs-btn-disabled-border-color: var(--site-color-primary);

        z-index: 0;

        &:hover {
            transform: scale(1.16);

            &::before {
                width: calc(100% - (2 * 0.188rem));
                inset: 0.188rem;
                background-color: var(--site-color-background);
                z-index: -1;
            }
        }

        &::before {
            content: "";
            width: 0;
            height: calc(100% - (2 * 0.188rem));
            position: absolute;
            left: 0;
            background-color: transparent;
            transition: all .3s ease-in-out;
            z-index: 0;
        }

        &.btn-icon-start {
            padding: 0.5rem 1rem 0.5rem 0.625rem;
        }

        &.btn-icon-end {
            padding: 0.5rem 0.625rem 0.5rem 1rem;
        }

        .custom-icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--site-color-text);
        }
    }

    &.btn-secondary {
        --bs-btn-color: var(--site-color-secondary);
        --bs-btn-bg: transparent;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: transparent;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: transparent;

        position: relative;
        z-index: 0;

        &:hover {
            color: var(--site-color-white);

            &::before {
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
            }

            .custom-icon {
                fill: var(--site-color-white);
            }
        }

        &::before {
            content: "";
            width: calc(100% - 2rem);
            height: 0;
            position: absolute;
            bottom: 0.28rem;
            left: 1rem;
            right: 1rem;
            border: 0.75px solid var(--site-color-secondary);
            background-color: var(--site-color-secondary);
            transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            z-index: 0;
        }

        .custom-icon {
            width: 1.1875rem;
            height: 1.1875rem;
            fill: var(--site-color-secondary);
            transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &.btn-icon-start, &.btn-icon-end {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        position: relative;
    }

    &.btn-icon-start {
        flex-direction: row;
    }

    &.btn-icon-end {
        flex-direction: row-reverse;
    }

    .custom-icon {
        aspect-ratio: 1/1;
    }
}