.footer-site {
    .information-footer {
        background-color: var(--site-color-accent--4);

        .identity-footer {
            .custom-logo-link {
                height: max-content;
                width: max-content;
                display: block;

                .custom-logo {
                    width: 9.5rem;
                    height: 6.875rem;
                    aspect-ratio: 76/55;
                }
            }

            p a {
                height: 100%;
                display: block;
                font-family: "Fraunces", serif;
                font-size: 3rem;
                font-weight: 600;
                line-height: 2.625rem;
                text-decoration: none;
                color: var(--site-color-text);
            }
        }

        .links-footer .nav .nav-link {
            width: fit-content;
            padding: 0;
            font-family: "Atkinson Hyperlegible Next", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            text-decoration: underline;
            color: var(--site-color-text);
        }
    }

    .credit-footer {
        background-color: var(--site-color-accent--7);
    }
}