.map-site {
    width: 100%;
    height: 100%;
    min-height: 300px;

    .marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
        background-color: color-mix(in srgb, var(--site-color-primary) 40%, transparent);

        div {
            background-color: color-mix(in srgb, var(--site-color-primary) 80%, transparent);
        }
    }

    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;

        div {
            width: 30px;
            height: 30px;
            margin: 5px 0 0 5px;
            border-radius: 15px;
            font-family: "Atkinson Hyperlegible Next", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            color: var(--site-color-text);
        }

        span {
            line-height: 30px;
        }
    }
}