:root, [data-bs-theme="dark"] {
    --site-color-primary: #E6BE12;
    --site-color-secondary: #3F544E;
    --site-color-accent: #F5F5F1;
    --site-color-accent--1: #F2F2EE;
    --site-color-accent--4: #EAEAE6;
    --site-color-accent--7: #E1E1DE;
    --site-color-background: #F5F7F8;
    --site-color-background--3: #E9ECEE;
    --site-color-background--6: #DDE1E4;
    --site-color-text: #2E2C2C;
    --site-color-text-60: #BEBCBC;
    --site-color-black: #000000;
    --site-color-white: #FFFFFF;

    --site-shadow-section: 0 0 10px -1px color-mix(in srgb, var(--site-color-black) 5%, transparent), 0 0 30px 0 color-mix(in srgb, var(--site-color-black) 5%, transparent);
    --site-shadow-comparator: 0 0 20.1px 3px color-mix(in srgb, var(--site-color-black) 50%, transparent), 0 0 64px 42px color-mix(in srgb, var(--site-color-black) 50%, transparent);
    --site-shadow-window: 0 0 10px 0 color-mix(in srgb, var(--site-color-black) 50%, transparent), 0 0 40px 0 color-mix(in srgb, var(--site-color-black) 30%, transparent);
    --site-shadow-pin: drop-shadow(0 2px 4px color-mix(in srgb, var(--site-color-black) 20%, transparent));
    --site-shadow-image: drop-shadow(0 0 160px color-mix(in srgb, var(--site-color-black) 55%, transparent));

    /* Bootstrap */
    --bs-primary: var(--site-color-primary);
    --bs-secondary: var(--site-color-secondary);
    --bs-body-color: var(--site-color-text);
    --bs-body-bg: var(--site-color-background);
}

/* Elementor */
.wysiwyg {
    --e-global-color-primary: var(--site-color-primary);
    --e-global-color-secondary: var(--site-color-secondary);
    --e-global-color-text: var(--site-color-text);
    --e-global-color-accent: var(--site-color-accent);
    --e-global-typography-primary-font-family: "Slabo Regular";
    --e-global-typography-secondary-font-family: "Slabo Regular";
    --e-global-typography-text-font-family: "Slabo Regular";
    --e-global-typography-accent-font-family: "Slabo Regular";
}