.wysiwyg .elementor {
    .elementor-element {
        padding: 0;

        .e-con-inner {
            padding: 0;
            margin: 0;
        }
    }

    a {
        text-decoration: underline;
    }

    ul li {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}